version: "3.9"

services:
  app:
    build: .
    container_name: arena_one_app
    env_file:
      - .env.production
    restart: always
    ports:
      - "3000:3000"

  nginx:
    image: nginx:alpine
    container_name: arena_one_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx:/etc/nginx/conf.d
    depends_on:
      - app
    restart: always

  postgres:
    image: postgres:18
    container_name: arena_one_postgres
    restart: always
    environment:
      POSTGRES_USER: arena
      POSTGRES_PASSWORD: GsD32Nq6X4qB7PCVTNWMVRIj0oXbebRl
      POSTGRES_DB: arenaone
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pgdata:
    name: arena_pgdata
