.im-header-view-content {
  display: flex;
  gap: 1.5rem;
}

.im-header-view-logo {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  border-radius: 0.75rem;
  overflow: hidden;
  background-color: var(--rsp-border);
  border: 1px solid var(--rsp-border);
}

.im-header-view-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0.5rem;
}

.im-header-view-info {
  flex: 1;
}

.im-section-view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
