.im-language-switcher {
  display: flex;
  align-items: center;
  min-width: 140px;
}

.im-language-switcher .im-select-wrapper {
  width: 100%;
}

.im-language-flag {
  font-size: 1.125rem;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
